.sec_li {
    float: left;
    width: 100%;
    margin-bottom: 0.1rem;
}
.lp_li_a {
    display: block;
    padding: 0.3rem 0;
    margin: 0 0.05rem;
    text-align: center;
    background: #fff;
}
.lp_li_imgWrap {
    padding: 0.24rem 0;
}
.lp_li_imgWrap > img {
    width: auto;
    height: 2.3rem;
}
.lp_li_name {
    height: 0.5rem;
    /*line-height: 0.5rem;*/
    font-size: 16px;
    color: #333;
}
.lp_li_price {
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 16px;
    color: #fb3b3b;
}